h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

h3, h5{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

}
.profile-img {
    max-width: 200px;
    max-height: 200px;
}



.section {
    margin-top: 20px;
}

.container{
    border: 2px;
}